{{#each todos}}
<tr key={{this.id}}>
    <td>    
    </td>
    <td>{{this.title}}</td>
    <td>{{this.created}}</td>
    <td>{{this.category}}</td>
    <td>{{this.content}}</td>
    <td>{{this.dates}}</td>
    <td>
        <button type="button" class="edit-todo__btn button">
             <i class="material-icons">edit</i>
        </button>
    </td>
    <td>
        <button type="button" class="archived-todo__btn button">
            <i class="material-icons">archive</i>
        </button>
    </td>
    <td>
        <button type="button" class="delete-todo__btn button">
            <i class="material-icons">remove</i>
        </button>
    </td>
</tr>
{{/each}}