<tr key={{id}}>
    <td>{{title}}</td>
    <td>{{created}}</td>
    <td>{{category}}</td>
    <td>{{content}}</td>
    <td>{{dates}}</td>
    <td>
        <button type="button" class="edit-todo__btn button">
             <i class="material-icons">edit</i>
        </button>
    </td>
    <td>
        <button type="button" class="archived-todo__btn button">
            <i class="material-icons">archive</i>
        </button>
    </td>
    <td>
        <button type="button" class="delete-todo__btn button">
            <i class="material-icons">remove</i>
        </button>
    </td>
</tr>