{{#each todos}}
<tr key={{this.id}}>
    <td>{{this.title}}</td>
    <td>{{this.created}}</td>
    <td>{{this.category}}</td>
    <td>
        <button type="button"  class="unarchived-todo__btn button" id={{this.id}}>
             <i class="material-icons" id='{{this.id}}-unarchiveBtn'>unarchive</i>
        </button>
    </td>
</tr>
{{/each}}